name: CLI for DTaaS

on:
  push:
    paths:
      - 'cli/**'
      - '.github/workflows/python-cli.yml'
  pull_request:
    paths:
      - 'cli/**'
      - '.github/workflows/python-cli.yml'
  workflow_dispatch:


jobs:
  test-cli:
    name: Test and Build DTaaS CLI
    permissions:
      contents: read  # Required for checking out the code
      actions: write  # Required for uploading artifacts
    uses: ./.github/workflows/python-reusable.yml
    with:
      working-directory: cli
      src-directory: src
      tests-directory: tests
      coverage-file: cli/coverage.xml
      artifact-name: dtaas-cli
      artifact-path: |
        cli/dist/*.whl
        cli/dist/*.tar.gz
